<div class="md:col-span-2 mt-8">
    <h2>Group Critical Illness Cover</h2>
</div>

<div>
    <span class="text-xs font-bold text-gray-400 block mb-2">Costing Basis</span>
    <span class="text-base block capitalize">{{ variant.costingBasis ?? '-' }}</span>
</div>

<div>
    <span class="text-xs font-bold text-gray-400 block mb-2">Unit Rate Suffix</span>
    <span class="text-base block capitalize">{{ variant.unitRateSuffix ?? '-' }}</span>
</div>

<div>
    <span class="text-xs font-bold text-gray-400 block mb-2">Unit Rate</span>
    <span class="text-base block capitalize">{{ variant.unitRate ?? '-' }}</span>
</div>

<div>
    <span class="text-xs font-bold text-gray-400 block mb-2">Free Cover Level Automatic Acceptance Limit</span>
    <span class="text-base block capitalize">{{ variant.freeCoverLevelAutomaticAcceptanceLimit ?? '-' }}</span>
</div>

<div>
    <span class="text-xs font-bold text-gray-400 block mb-2">Date Refresh Frequency</span>
    <span class="text-base block capitalize">{{ variant.dateRefreshFrequency ?? '-' }}</span>
</div>