{%- requirePermission "hub:benefits" -%}

{%- extends 'staff-management/_layouts/hub-cp.twig' -%}
{%- import "_includes/forms" as forms -%}

{#{% css "/lib/redactor/redactor.css" %}#}
{#{% js "/lib/redactor/redactor.js" %}#}

{%- set sidebar -%}
    {%- include "staff-management/benefits/_nav" -%}
{%- endset -%}

{%- block actionButton -%}
    {%- include "staff-management/_atoms/buttons/button--submit" with {
        options: {
            title: 'Save Benefit Type',
            action: 'staff-management/benefit-type/save'
        }
    } -%}
{%- endblock -%}

{%- set details -%}
    <div class="content-pane">
        {{ forms.selectField({
            label: "Benefit Type"|t('staff-management'),
            instructions: 'Choose a benefit type'|t('staff-management'),
            id: 'benefitType',
            name: 'benefitType',
            value: type ? type.benefitType : null,
            options: types ?? [],
            errors: errors['benefitType'] ?? null,
            required: true,
        }) }} 
    </div>
{%- endset -%}

{%- set fullPageForm = true -%}

{%- set content -%}

    <h1 class="text-xl font-semibold text-gray-900">New Benefit Type</h1>

    <input type="hidden" name="action" value="staff-management/benefit-type/save" />
    <input type="hidden" name="typeId" value="{{- type ? type.id : '' -}}" />
    <input type="hidden" name="siteId" value="{{- type ? type.siteId : currentSite.id -}}" />

    {{ forms.textField({
        first: true,
        label: "Internal Code"|t('staff-management'),
        id: 'internalCode',
        name: 'internalCode',
        value: type ? type["internalCode"] : '',
        errors: errors["internalCode"] ?? null,
        autofocus: true,
        required: true,
    }) }}

    {{ forms.textField({
        label: "Url"|t('staff-management'),
        id: 'url',
        name: 'url',
        value: type ? type.url : '',
        errors: errors['url'] ?? null,
        required: false,
    }) }}

    {# {{ forms.selectField({
        label: "Benefit Provider"|t('staff-management'),
        instructions: 'Choose a benefit provider'|t('staff-management'),
        id: 'providerId',
        name: 'providerId',
        value: type ? type.provderId : null,
        options: providers ?? [],
        errors: errors['providerId'] ?? null,
        required: false,
    }) }} #}

    {# {%- set provider = type ? type.providerId ? [craft.assets.id(provider.logo).one()] : [] : [] -%} #}
    {%- set provider = [] -%}
    {{ forms.elementSelectField({
        label: "Provider"|t('staff-management'),
        id: 'providerId',
        name: 'providerId',
        elementType: 'percipiolondon\\staff\\elements\\BenefitProvider',
        limit: 1,
        value: type ? type.providerId : '',
        instructions: "Select a provider"|t('staff-management'),
        required: true,
        errors: errors['providerId'] ?? null,
    }) }}


    <div id="tiptap-container"></div>
    <input type="text" name="content" value="<p>This is content</p>" />
    {%- if errors['content'] ?? null -%}
        <ul id="content-errors" class="errors"> 
            {%- for error in errors['content'] -%}                   
                <li>
                    <span class="visually-hidden">Error:</span>
                    {{- error -}}
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}

    {%- include 'staff-management/benefits/types/fields/group-critical-illness-cover' -%}

{%- endset -%}

{%- block foot -%}
    {{ parent() }}
    {%- set tagOptions = {
        'depends': [
            'percipiolondon\\staff\\assetbundles\\staff\\StaffAsset'
        ]
    } -%}
    {{  craft.staff.register('src/js/tiptap.ts', false, tagOptions, tagOptions) }}
{%- endblock -%}