{%- requirePermission "hub:request" -%}

{%- extends 'staff-management/_layouts/hub-cp.twig' -%}

{%- set content -%}

    {% set statusColour = {
        'pending': 'yellow',
        'approved': 'emerald',
        'declined': 'red',
        'canceled': 'gray'
    }  %}

    {%- set current = request.current|json_decode -%}
    {%- set data = request.request|json_decode -%}

    <div class="sm:flex">
        <div class="sm:flex-auto">
            <div class="flex items-center">
                <div class="flex items-center">
                    <a href="/admin/staff-management/requests" title="Request from {{ request.employee.personalDetails.firstName }} {{ request.employee.personalDetails.lastName }}" class="inline-flex no-underline items-center px-2.5 py-1.5 rounded-full text-sm text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" style="margin-bottom: 0px;">←</a>
                    <h1 class="ml-1 text-xl font-semibold text-gray-900">Request from {{ request.employee.personalDetails.firstName }} {{ request.employee.personalDetails.lastName }}</h1>
                </div>
                <span class="inline-flex mt-px rounded-2xl text-xs font-bold px-3 py-1 mb-0 bg-{{- statusColour[request.status] -}}-300 text-{{- statusColour[request.status] -}}-900">{{ request.status }}</span>
            </div>
            <p class="mt-2 text-sm text-gray-700">This {{ request.type|replace('_', ' ') }} request has been made by {{ request.employee.personalDetails.firstName }} {{ request.employee.personalDetails.lastName }} of {{ request.employer }} on the {{ request.dateCreated|date('jS M, Y') }}.</p>
        </div>
        <!--div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
            <button type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">Add user</button>
        </div-->
    </div>

    <div class="w-full pt-10">
        <div class="grid grid-cols-4 gap-x-4">
            <div class="mb-6">
                <span class="text-xs font-bold text-gray-400 block">Request type</span>
                <span class="text-base mt-1 block capitalize">{{ request.type|replace('_', ' ') }}</span>
            </div>
            <div class="mb-6">
                <span class="text-xs font-bold text-gray-400 block">Requested by</span>
                <span class="text-base mt-1 block">{{ request.employee.personalDetails.firstName }} {{ request.employee.personalDetails.lastName }}</span>
            </div>
            <div class="mb-6">
                <span class="text-xs font-bold text-gray-400 block mb-2">Employee of</span>
                <span class="text-base mt-1 block">{{ request.employer }}</span>
            </div>
            <div class="mb-6">
                <span class="text-xs font-bold text-gray-400 block mb-2">Requested on</span>
                <span class="text-base mt-1 block">{{ request.dateCreated|date('jS M, Y') }}</span>
            </div>
            <div class="mb-6 col-span-4 border border-t-2 border-gray-200 border-solid border-r-0 border-l-0 border-b-0 pt-6">
                <div class="flex w-full">
                    <div class="flex-grow">
                        <span class="text-xs font-bold text-gray-400 block mb-2">From</span>
                        <div class="bg-gray-200 p-4 rounded-xl">
                            {%- set current = request.current|json_decode -%}
                            {%- set data = request.request|json_decode -%}

                            {%- for key, value in current -%}
                                <span class="block text-base mb-2 {{ data[key] ?? null ? 'font-bold' : '' -}}">{{ value ?? '-' }}</span>
                            {%- endfor -%}
                        </div>
                    </div>
                    <span class="text-blue-600 inline-block text-xl px-4">→</span>
                    <div class="flex-grow">
                        <span class="text-xs font-bold text-gray-400 block mb-2">To</span>
                        <div class="bg-gray-200 p-4 rounded-xl">
                            {%- for key, value in current -%}
                                <span class="block text-base mb-2 {{ data[key] ?? null ? 'font-bold' : '' -}}">{{ data[key] ?? value ?? '-' }}</span>
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="mb-6 col-span-3">#}
{#                <span class="text-xs font-bold text-gray-400 block mb-2">Request</span>#}
{#                <div class="bg-gray-200 p-4 rounded-xl">#}
{#                    {%- set current = request.current|json_decode -%}#}
{#                    {%- set data = request.request|json_decode -%}#}

{#                    {%- for key, value in current -%}#}
{#                        <div class="grid grid-cols-3 gap-y-2">#}
{#                            <span class="{{ data[key] ?? null ? 'line-through': 'col-span-3' }}">{{ value|length ? value : '-' }}</span>#}
{#                            {%- if data[key] ?? null -%}#}
{#                                <span class="text-blue-600 inline-block text-base">→</span>#}
{#                                <span>{{ data[key] ?? '-' }}</span>#}
{#                            {%- endif -%}#}
{#                        </div>#}
{#                    {%- endfor -%}#}
{#                </div>#}
{#            </div>#}

            {% if request.status == 'pending' %}
                <div class="col-span-4 text-right">
                    <a href="#" class="inline-block bg-red-300 text-red-900 font-bold mr-2 py-2 px-3 text-sm rounded-lg cursor-pointer">Decline</a>
                    <a href="#" class="inline-block bg-emerald-300 text-emerald-900 font-bold mr-2 py-2 px-3 text-sm rounded-lg cursor-pointer">Approve</a>
                </div>
            {% else %}

            {% endif %}
        </div>

    </div>

{%- endset -%}